<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.kekestudio.amazingcircle"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="auto">

  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="14"/>
  <uses-feature android:glEsVersion="0x00020000" />
	<uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
	<supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.kekestudio.daydayup.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> 
    
    <!-- IAP for GP only -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <application 
        android:name="cn.afterwind.gamecenter.application.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:icon="@drawable/icon">
					 
        <activity android:name="com.kekestudio.amazingcircle.AppActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation"
                  android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="KTPLAY_CHANNELID"
            android:value="GP"
            />
		<activity
            android:name="cn.afterwind.gamecenter.view.LeaderboardActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        
        <activity 
		    android:name="com.mopub.mobileads.MoPubActivity" 
		    android:configChanges="keyboardHidden|orientation|screenSize"/>
		<activity 
		    android:name="com.mopub.mobileads.MraidActivity" 
		    android:configChanges="keyboardHidden|orientation|screenSize"/>
		<activity 
		    android:name="com.mopub.common.MoPubBrowser" 
		    android:configChanges="keyboardHidden|orientation|screenSize"/>
		<activity 
		    android:name="com.mopub.mobileads.MraidVideoPlayerActivity" 
		    android:configChanges="keyboardHidden|orientation|screenSize"/>
		<activity 
		    android:name="com.google.ads.AdActivity" 
		    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
		<activity 
		    android:name="com.google.android.gms.ads.AdActivity" 
		    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
		<activity 
		    android:name="com.inmobi.androidsdk.IMBrowserActivity"  
		    android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize" 
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" 
		    android:hardwareAccelerated="true" />
        <activity
            android:name="com.mopub.mobileads.MraidBrowser"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.amazon.device.ads.MraidBrowser"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.amazon.device.ads.VideoActionHandler"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1101152753" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
       
        
        <!-- 默认没有开启GCM，只有开启GCM的项目才需要配置此项 -->
        <meta-data
            android:name="GCM_SenderId"
            android:value="4443543" />
        <meta-data
            android:name="Flurry_Key"
            android:value="ZX6FJBKRYPNMBB9DMCTW" />
        <meta-data
            android:name="MoPub_phone_banner"
            android:value="21f9c00e5d874788ac69e74713fd3e25" />
        <meta-data
            android:name="MoPub_phone_fullscreen"
            android:value="4a24c3f86a544f2dbc9109c38f74f3dd" />
        <meta-data
            android:name="MoPub_tablet_banner"
            android:value="da3e7212b05a499eb22aaaf044ef12a4" />
        <meta-data
            android:name="MoPub_tablet_fullscreen"
            android:value="185e4e5d31dd42a4825fad3b646d067c" />
        <meta-data
            android:name="MoPub_phone_crosspromo"
            android:value="4a24c3f86a544f2dbc9109c38f74f3dd" />
        <meta-data
            android:name="MoPub_tablet_crosspromo"
            android:value="185e4e5d31dd42a4825fad3b646d067c" />
        
        
        <meta-data
            android:name="studioService"
            android:value="" /><!--for example :http://services.XXXXXXX.com-->
        
        <meta-data
            android:name="isNeedSupportOrientation"
            android:value="yes" />

           <!-- Tell Cocos2dxActivity the name of our .so -->
    		<meta-data android:name="android.app.lib_name"
	              android:value="cocos2dcpp" />
	              
	      <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
	    <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />   
                     
        <meta-data
	        android:name="com.google.android.gms.appstate.APP_ID"
	        android:value="@string/app_id"/>
        
        
       <meta-data
            android:name="FRAME_NAME"
            android:value="UPUP" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />
               <meta-data
            android:name="FRAME_KEY0"
            android:value="huvqPjDM.YElGAGP8bq0%3Afp%2FIV" /> <!-- 测试环境 -->

        <meta-data
            android:name="FRAME_KEY1"
            android:value="huvqPjDM.YElGAGP8bq0%3Afp%2FIV" /> <!--  -->


        <!-- https://api.weixin.qq.com -->
        <meta-data
            android:name="FRAME_KEY2"
            android:value="huvq.QDk%2F.254os7uz74G0r4F" />
    </application>

    
</manifest> 
