<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy-button-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1200},{81,81}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{81,81}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>energy-icon-energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1335},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>energy-panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,6},{756,960}}</string>
                <key>offset</key>
                <string>{-1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{756,960}}</string>
                <key>sourceSize</key>
                <string>{789,988}</string>
            </dict>
            <key>gameover-button-home.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1080},{267,99}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,99}}</string>
                <key>sourceSize</key>
                <string>{266,98}</string>
            </dict>
            <key>gameover-button-noads.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1200},{105,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{105,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>gameover-button-rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,6},{219,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,99}}</string>
                <key>sourceSize</key>
                <string>{217,99}</string>
            </dict>
            <key>gameover-button-retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,1080},{432,138}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,138}}</string>
                <key>sourceSize</key>
                <string>{431,136}</string>
            </dict>
            <key>gameover-medal-bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1173},{153,153}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>gameover-medal-diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1185},{153,153}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>gameover-medal-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1185},{153,153}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>gameover-medal-none.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,390},{156,156}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{157,156}</string>
            </dict>
            <key>gameover-medal-silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,231},{153,153}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>home-button-music-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1332},{93,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{93,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>home-button-music-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1341},{93,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{93,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>home-button-ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,585},{378,111}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,111}}</string>
                <key>sourceSize</key>
                <string>{377,110}</string>
            </dict>
            <key>home-button-restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1341},{93,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{93,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>home-button-sound-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1341},{93,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{93,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>home-button-sound-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,1341},{93,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{93,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>home-button-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,1224},{378,111}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,111}}</string>
                <key>sourceSize</key>
                <string>{377,110}</string>
            </dict>
            <key>home-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,6},{573,234}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,234}}</string>
                <key>sourceSize</key>
                <string>{572,232}</string>
            </dict>
            <key>ingame-brick-block.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1335},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>ingame-brick-long.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,972},{732,102}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,102}}</string>
                <key>sourceSize</key>
                <string>{731,102}</string>
            </dict>
            <key>ingame-button-pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1335},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{78,78}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ingame-energy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,162},{57,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{57,57}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1335},{66,66}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{66,66}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,87},{69,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{69,69}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,6},{75,72}}</string>
                <key>offset</key>
                <string>{-1,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{75,72}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1335},{75,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{75,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1335},{78,78}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1092},{81,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{81,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1344},{87,84}}</string>
                <key>offset</key>
                <string>{-1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{87,84}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ingame-energy-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1344},{90,90}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>mask-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1065},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,930},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,795},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,660},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,525},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,957},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,822},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,687},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,552},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1200},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1200},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1200},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mask-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,390},{129,129}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pause-button-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,6},{378,111}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,111}}</string>
                <key>sourceSize</key>
                <string>{377,110}</string>
            </dict>
            <key>pause-button-resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,585},{378,111}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,111}}</string>
                <key>sourceSize</key>
                <string>{377,110}</string>
            </dict>
            <key>ready-bg-masks.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1161,219}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1161,219}}</string>
                <key>sourceSize</key>
                <string>{1160,218}</string>
            </dict>
            <key>ready-bird-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1344},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>ready-button-energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1344},{81,81}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{81,81}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ready-icon-energy-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,687},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ready-icon-energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1335},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>ready-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,969},{225,264}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,264}}</string>
                <key>sourceSize</key>
                <string>{225,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1533,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63d824db975c0dd7957ec25c3e5dd31f:ae5695a963a193fd4a7c9748689e5568:67cc2e4241f7e6aa13a1984439724ab9$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
