<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy-button-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1751},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{55,55}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>energy-icon-energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1279},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>energy-panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,641}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{504,641}}</string>
                <key>sourceSize</key>
                <string>{528,661}</string>
            </dict>
            <key>gameover-button-home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1713},{179,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,68}}</string>
                <key>sourceSize</key>
                <string>{179,68}</string>
            </dict>
            <key>gameover-button-noads.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1590},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{71,71}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>gameover-button-rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1209},{147,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,68}}</string>
                <key>sourceSize</key>
                <string>{147,68}</string>
            </dict>
            <key>gameover-button-retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{289,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,93}}</string>
                <key>sourceSize</key>
                <string>{289,93}</string>
            </dict>
            <key>gameover-medal-bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1385},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>gameover-medal-diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1112},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>gameover-medal-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1006},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>gameover-medal-none.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1279},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>gameover-medal-silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,900},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>home-button-music-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1646},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{63,63}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>home-button-music-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1663},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{63,63}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>home-button-ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1391},{253,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,76}}</string>
                <key>sourceSize</key>
                <string>{253,76}</string>
            </dict>
            <key>home-button-restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1525},{63,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{63,63}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>home-button-sound-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1460},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{63,63}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>home-button-sound-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1395},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{63,63}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>home-button-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1422},{253,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,76}}</string>
                <key>sourceSize</key>
                <string>{253,76}</string>
            </dict>
            <key>home-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,645},{383,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,157}}</string>
                <key>sourceSize</key>
                <string>{383,157}</string>
            </dict>
            <key>ingame-brick-block.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,697},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ingame-brick-long.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,645},{489,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,70}}</string>
                <key>sourceSize</key>
                <string>{489,70}</string>
            </dict>
            <key>ingame-button-pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1728},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{54,54}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ingame-energy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,843},{40,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{40,39}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,796},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,45}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,747},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{48,47}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,645},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{50,49}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1808},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{52,51}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1784},{54,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1817},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{56,55}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1758},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ingame-energy-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1321},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>mask-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1669},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1800},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1711},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1662},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1573},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1484},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1395},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1306},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1802},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1713},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1217},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1580},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>mask-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1491},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>pause-button-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1136},{253,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,76}}</string>
                <key>sourceSize</key>
                <string>{253,76}</string>
            </dict>
            <key>pause-button-resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,645},{253,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,76}}</string>
                <key>sourceSize</key>
                <string>{253,76}</string>
            </dict>
            <key>ready-bg-masks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{775,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{775,148}}</string>
                <key>sourceSize</key>
                <string>{775,148}</string>
            </dict>
            <key>ready-bird-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1817},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ready-button-energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1758},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ready-icon-energy-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1677},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ready-icon-energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1279},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ready-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1030},{152,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,177}}</string>
                <key>sourceSize</key>
                <string>{152,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,1894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c44ada027599635ff8cd53adb4cb96dc:de8fa0468938d840eec6c8c5f88599ac:d9a61af917d26893cbfb8ffb904e12ee$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
